::ng-deep{
    // .dx-texteditor {
    //     display: inline-flex;
    //     }
    .dx-item-content.dx-list-item-content{
        white-space: break-spaces;
    }

    .dx-button {
        margin-left: 5px;
    }

}

.profile-header {
    align-items: center;
}

.profile-name-barcode {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.barcode {
    font-size: 20px;
    font-weight: 600;
    color: #164888;
    white-space: nowrap;
}
