<nb-card>
    <nb-card-header>Políticas y Procedimientos</nb-card-header>
    <nb-card-body>

        <dx-file-uploader selectButtonText="AGREGAR ARCHIVOS" (onInitialized)="iniciarFileUploader($event)"
            (onValueChanged)="AgregarArchivos($event)" accept=".pdf" uploadMode="userForm" type="default"
            multiple="true">
        </dx-file-uploader>

        <button nbButton outline status="primary" [disabled]="files_to_upload.length <= 0"
            (click)="guardarArchivos()">Guardar
            <nb-icon icon="save" pack="eva"></nb-icon>
        </button>

    </nb-card-body>
</nb-card>


<dx-data-grid [dataSource]="politicas" rowAlternationEnabled="true" showColumnLines="false" showRowLines="true"
    showBorders="true" wordWrapEnabled="true" columnAutoWidth="true" columnMinWidth="50" keyExpr="id"
    hoverStateEnabled="true">
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-paging [pageSize]="10"> </dxo-paging>

    <dxi-column dataField="fileName" caption="Imagen" [visible]="false">
    </dxi-column>
    <dxi-column dataField="referenceFileName" caption="Política">
    </dxi-column>

    <dxi-column style="text-align: center !important;" cellTemplate="cellVer" width="200" [formItem]="{visible: false}">
    </dxi-column>

    <dxi-column style="text-align: center !important;" cellTemplate="cellEliminar" width="200"
        [formItem]="{visible: false}"></dxi-column>

    <div *dxTemplate="let data of 'cellVer'" style="text-align: center;">
        <a [href]="data.data.fullPath" target="_blank">
            <button outline style="text-align: center;" nbButton status="primary" type="success">
                Ver
                <nb-icon icon="eye-outline" pack="eva"></nb-icon>
            </button>
        </a>
    </div>

    <div *dxTemplate="let data of 'cellEliminar'" style="text-align: center;">
        <button outline style="text-align: center;" nbButton status="primary" type="success"
            (click)="delete(data.data)">Eliminar
            <nb-icon icon="trash-2-outline" pack="eva"></nb-icon>
        </button>
    </div>
</dx-data-grid>


<dx-popup [width]="700" [height]="500" [showTitle]="true" title="Visualización de imagen" [dragEnabled]="false"
    [showCloseButton]="true" container="body" [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%">
            <div class="row" style="margin: auto;">
                <img [src]="url" style="width: 100%; height: auto;">
            </div>
        </dx-scroll-view>
    </div>
</dx-popup>

<dx-popup [width]="400" height="auto" [showTitle]="true" title="Confirmación" [dragEnabled]="false"
    [showCloseButton]="false" container="body" [(visible)]="popupVisible2">
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%">

            <span class="confirmation-title">¿Está completamente seguro(a) de borrar este registro?</span>
            <div class="container-bottom">
                <button nbButton outline status="success" class="float-r m-l-5" (click)="confirmar()">Confirmar</button>
                <button nbButton outline status="danger" class="float-r m-r-5"
                    (click)="cerrarPopup2()">Cancelar</button>
            </div>
        </dx-scroll-view>
    </div>
</dx-popup>