::ng-deep{
    .dx-selectbox {
        margin-bottom: 17px !important;
    }

    .dx-texteditor {
        margin-bottom: 17px;
    }
}


.span-fields{
    display: flex;
    font-weight: bold;
}

.span-fields-asteriscos{
    display: flex;
    font-weight: bold;
    color: red;
}