::ng-deep{
    .dx-dropdowneditor-overlay .dx-list-group-header, .dx-dropdowneditor-overlay .dx-list-item-content  {  
        font-size: 16px !important;  
    }  

    .dx-textarea .dx-texteditor-input {
       
        font-size: 20px !important;
    }
    
    .dx-selectbox .dx-texteditor-input {
        font-size: 20px !important;
    }
}