.popup-title {
    font-weight: bolder;
    font-size: 21px;
 }
 
 .popup-title-row {
    padding: 0px!important;
    align-items: center !important;
    display: flex !important;
 }
 
 .popup-title-column {
    flex: 1 1 auto !important;
    padding: 5px 0px;
 }
 