<div id="documento" class="pdf-doble-hoja">
  <div class="page" style="margin: 0px;">
    <div class="text-center pdf-cuerpo pdf-formato-copia" style="margin-left: 10px;  margin-right: 10px;margin-top: 10px;">
      <table class="border-right border-left border-bottom border-top" width="100%">
        <tr>
          <td class="border-right"  rowspan="4" style="width: 25%; text-align: center;border-bottom-width: 10px; border-bottom-color: #1F4E78;"><img src="/assets/images/aquafeed.png" width="100"></td>
            <td class="border-right" rowspan="4" style="border-bottom-width: 10px; border-bottom-color: #1F4E78;">
              <p class="Titulos">FORMATO AUTORIZACIÓN DE
                DEDUCCIÓN POR PLANILLA</p>
            </td>
            <td class="border-bottom" style="width: 35%;">
              <p class="texto-normal" style="margin: auto;"><b>Código:</b></p>
               <p class="texto-normal" style="margin: auto;">RRHH-NP-ADP-FOR-03</p>
            </td>
        </tr>
        <tr class="border-bottom">
          <td  style="border-right-style:none">
              <p class="texto-normal" style="margin: auto;"><b>Elaborado Por:</b> Depto. RRHH</p>
            <p class="texto-normal" style="margin: auto;"><b>Autorizado Por:</b> Gerente de RRHH</p>
          </td>
        </tr>
        <tr class="border-bottom">
          <td><p class="texto-normal" style="margin: auto;"><b>Fecha de Elab:</b> 21/09/2017</p></td>
        </tr>
        <tr>
          <td style="border-bottom-width: 10px; border-bottom-color: #1F4E78;"><p class="texto-normal" style="margin: auto;"><b>Fecha de Rev (3):</b> 29/09/2023</p></td>
        </tr>
      </table>
      <table width="100%" class="text-center segmento1 border-left border-right border-top-no-margin border-bottom">
        <tr>
            DATOS
        </tr>
      </table>
      <table width="100%" class="border-top border-right border-bottom border-left">
        <tr>
          <td class="texto-encabezado-tabla border-bottom" style="width: 71%;">Nombre Completo</td>
          <td class="texto-encabezado-tabla border-right border-left border-bottom">Código de empleado</td>
        </tr>
        <tr>
          <td class="texto-fila-tabla">{{deduccionPlanillaDoc.nombreEmpleado}}</td>
          <td class="texto-fila-tabla border-left">{{deduccionPlanillaDoc.barcode}}</td>
        </tr>
      </table>
      <table style="width: 100%;" class="border-bottom border-left border-top border-right">
        <tr>
          <td class="texto-encabezado-tabla border-bottom border-left">Número de identidad</td>
          <td class="texto-encabezado-tabla border-bottom border-left border-right">Fecha de ingreso a la compañía</td>
        </tr>
        <tr>
          <td class="texto-fila-tabla">{{deduccionPlanillaDoc.identidad}}</td>
          <td class="texto-fila-tabla border-left">{{deduccionPlanillaDoc.fechaIngreso | date: 'dd/MM/yyyy'}} </td>
        </tr>
      </table>
      <table width="100%" class="border-left border-right border-bottom">
          <tr>
            <td class="texto-fila-tabla2 border-bottom" style="width: 586px;word-spacing: 10px;">Autorizo por este medio a Aquafeed S.A de C.V. que deduzca de mi salario la cantidad de:</td>
            <td class="texto-fila-tabla2 border-left border-bottom" style="text-align: right;font-weight: bold;"> {{deduccionPlanillaDoc.currency}}
              {{deduccionPlanillaDoc.monto | number : '1.2-2'}}
            </td>
          </tr>
          <tr>
            <td class="texto-fila-tabla border-bottom" style="text-align: justify;" colspan="2"><b>Por concepto de: </b>{{deduccionPlanillaDoc.concepto}}</td>
          </tr>
          <tr>
            <td class="texto-fila-tabla2 border-bottom" style="text-align: center;" colspan="2">(Cuentas por cobrar empleados)</td>
          </tr>
          <tr>
            <td class="texto-fila-tabla" colspan="2" style="text-align: justify!important"><b>A partir de la siguiente fecha: </b>{{deduccionPlanillaDoc.fechaDeduccion | date:
              'dd/MM/yyyy'}}</td>
          </tr>

      </table>
      <table class="border-left border-right border-bottom pdf-firma-bloque" width="100%">
          <tr>
            <td style="border-bottom-style: hidden;"><p class="texto-fila-tabla2 pdf-firma-encabezado">FIRMA PARA AUTORIZACIÓN</p></td>
          </tr>
          <tr>
            <td class="pdf-firma-celda"><p class="texto-encabezado-tabla border-top border-bottom border-left border-right pdf-firma-caja">Firma del colaborador</p></td>
          </tr>
      </table>
    </div>

    <div class="pdf-copia-divisor" role="separator" aria-hidden="true"></div>

     <div class="text-center pdf-cuerpo pdf-formato-copia" style="margin-left: 10px;  margin-right: 10px;margin-top: 10px;">
      <table class="border-right border-left border-bottom border-top" width="100%">
        <tr>
          <td class="border-right"  rowspan="4" style="width: 25%; text-align: center;border-bottom-width: 10px; border-bottom-color: #1F4E78;"><img src="/assets/images/aquafeed.png" width="100"></td>
            <td class="border-right" rowspan="4" style="border-bottom-width: 10px; border-bottom-color: #1F4E78;">
              <p class="Titulos">FORMATO AUTORIZACIÓN DE
                DEDUCCIÓN POR PLANILLA</p>
            </td>
            <td class="border-bottom" style="width: 35%;">
              <p class="texto-normal" style="margin: auto;"><b>Código:</b></p>
               <p class="texto-normal" style="margin: auto;">RRHH-NP-ADP-FOR-03</p>
            </td>
        </tr>
        <tr class="border-bottom">
          <td  style="border-right-style:none">
              <p class="texto-normal" style="margin: auto;"><b>Elaborado Por:</b> Depto. RRHH</p>
            <p class="texto-normal" style="margin: auto;"><b>Autorizado Por:</b> Gerente de RRHH</p>
          </td>
        </tr>
        <tr class="border-bottom">
          <td><p class="texto-normal" style="margin: auto;"><b>Fecha de Elab:</b> 21/09/2017</p></td>
        </tr>
        <tr>
          <td style="border-bottom-width: 10px; border-bottom-color: #1F4E78;"><p class="texto-normal" style="margin: auto;"><b>Fecha de Rev (3):</b> 29/09/2023</p></td>
        </tr>
      </table>
      <table width="100%" class="text-center segmento1 border-left border-right border-top-no-margin border-bottom">
        <tr>
            DATOS
        </tr>
      </table>
      <table width="100%" class="border-top border-right border-bottom border-left">
        <tr>
          <td class="texto-encabezado-tabla border-bottom" style="width: 71%;">Nombre Completo</td>
          <td class="texto-encabezado-tabla border-right border-left border-bottom">Código de empleado</td>
        </tr>
        <tr>
          <td class="texto-fila-tabla">{{deduccionPlanillaDoc.nombreEmpleado}}</td>
          <td class="texto-fila-tabla border-left">{{deduccionPlanillaDoc.barcode}}</td>
        </tr>
      </table>
      <table style="width: 100%;" class="border-bottom border-left border-top border-right">
        <tr>
          <td class="texto-encabezado-tabla border-bottom border-left">Número de identidad</td>
          <td class="texto-encabezado-tabla border-bottom border-left border-right">Fecha de ingreso a la compañía</td>
        </tr>
        <tr>
          <td class="texto-fila-tabla">{{deduccionPlanillaDoc.identidad}}</td>
          <td class="texto-fila-tabla border-left">{{deduccionPlanillaDoc.fechaIngreso | date: 'dd/MM/yyyy'}} </td>
        </tr>
      </table>
      <table width="100%" class="border-left border-right border-bottom">
          <tr>
            <td class="texto-fila-tabla2 border-bottom" style="width: 586px;word-spacing: 10px;">Autorizo por este medio a Aquafeed S.A de C.V. que deduzca de mi salario la cantidad de:</td>
            <td class="texto-fila-tabla2 border-left border-bottom" style="text-align: right;font-weight: bold;"> {{deduccionPlanillaDoc.currency}}
              {{deduccionPlanillaDoc.monto | number : '1.2-2'}}
            </td>
          </tr>
          <tr>
            <td class="texto-fila-tabla border-bottom" style="text-align: justify;" colspan="2"><b>Por concepto de: </b>{{deduccionPlanillaDoc.concepto}}</td>
          </tr>
          <tr>
            <td class="texto-fila-tabla2 border-bottom" style="text-align: center;" colspan="2">(Cuentas por cobrar empleados)</td>
          </tr>
          <tr>
            <td class="texto-fila-tabla" colspan="2" style="text-align: justify!important"><b>A partir de la siguiente fecha: </b>{{deduccionPlanillaDoc.fechaDeduccion | date:
              'dd/MM/yyyy'}}</td>
          </tr>

      </table>
      <table class="border-left border-right border-bottom pdf-firma-bloque" width="100%">
          <tr>
            <td style="border-bottom-style: hidden;"><p class="texto-fila-tabla2 pdf-firma-encabezado">FIRMA PARA AUTORIZACIÓN</p></td>
          </tr>
          <tr>
            <td class="pdf-firma-celda"><p class="texto-encabezado-tabla border-top border-bottom border-left border-right pdf-firma-caja">Firma del colaborador</p></td>
          </tr>
      </table>
    </div>
  </div>
</div>
